<h1>Checkout</h1>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Pay in full</mat-panel-title>
      <mat-panel-description> Credit card options </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="credit-card">
      <form class="credit-card-form" [formGroup]="form">
        <mat-form-field class="example-full-width">
          <mat-label>Cardholder</mat-label>
          <input
            matInput
            name="name"
            formControlName="name"
            [(ngModel)]="credit_card.name"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Card number</mat-label>
          <input
            matInput
            number="number"
            formControlName="number"
            [(ngModel)]="credit_card.number"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Expiry</mat-label>
          <input
            matInput
            expiry="expiry"
            formControlName="expiry"
            [(ngModel)]="credit_card.expiry"
          />
        </mat-form-field>
        <mat-form-field
          class="example-full-width"
          style="margin-bottom: -1.25em"
        >
          <mat-label>CVV</mat-label>
          <input
            matInput
            cvv="cvv"
            formControlName="cvv"
            [(ngModel)]="credit_card.cvv"
          />
        </mat-form-field>
      </form>

      <ng-credit-card
        [name]="credit_card.name"
        [number]="credit_card.number"
        [cvc]="credit_card.cvv"
        [expiry]="credit_card.expiry"
      ></ng-credit-card>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Pay in instalments</mat-panel-title>
      <mat-panel-description> Planpay </mat-panel-description>
    </mat-expansion-panel-header>

    <div id="wrapper">
      <div class="aligner">
        <div
          data-planpay-checkout-id="6e647a93-8b49-46b0-b1bc-2c4759a8a97d"
          class="aligner-item planpay-checkout-widget"
        >
          Loading planpay&hellip;
        </div>
      </div>

      <script src="https://sdk-app.sbx.planpaytech.com/planpay-sdk.js"></script>
    </div>
  </mat-expansion-panel>
</mat-accordion>
